<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ambagol</title>
  
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" >
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top  navbg">
          <a class="navbar-brand ml-5 "  id="me">Ambagol</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse "   id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink = "about">About Me<span class="sr-only">(current)</span></a>
              </li>
              <li class="dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  href="">Projects</a>
                  <ul class="dropdown-menu navbg navborder">
                      <li class="nav-item">
                          <a class="nav-link navbar-dark " routerLink = "studentportal">Student Portal</a>
                        </li>
                        <li class="nav-item navbar-dark ">
                            <a class="nav-link navbar-dark " routerLink = "restaurant">Restaurant</a>
                          </li>
                          <li class="nav-item navbar-dark ">
                              <a class="nav-link navbar-dark " href="#e-store">E-Store</a>
                            </li>
                            
                    </ul>
                </li>
              <li class="dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Skills</a>
                <ul class="dropdown-menu navbg">
                    <li class="nav-item">
                        <a class="nav-link navbar-dark " routerLink = "skills">Angular</a>
                      </li>
                      <li class="nav-item navbar-dark ">
                          <a class="nav-link navbar-dark " routerLink = "skills">Express</a>
                        </li>
                        <li class="nav-item navbar-dark ">
                            <a class="nav-link navbar-dark " routerLink = "skills">MongoDB</a>
                          </li>
                          <li class="nav-item navbar-dark ">
                              <a class="nav-link" routerLink = "skills">Bootstrap</a>
                            </li>
                  </ul>
              </li>
             
                <li class="nav-item">
                    <a class="nav-link" routerLink = "resume">Resume</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink = "connect">Connect</a>
                    </li>
              
            </ul>
            
          </div>
        </nav>
      </header>
  
      <main class="page" role="main">
  
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="first-slide" src="" alt="First slide">
              <div class="container">
                <div class="carousel-caption ">
                  <h1>Student Portal</h1>
                  <p>Created a student portal for Skill Spire using MEAN stack and bootstrap. This portal allows the students and instructors to view course details and assignments.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">View Project</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="second-slide" src="" alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Restaurant</h1>
                  <p>This is how my website would look like if I had my own Restaurant </p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Lets Eat</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="third-slide" src="" alt="Third slide">
              <div class="container">
                <div class="carousel-caption ">
                  <h1>E-Store</h1>
                  <p>Another project developed using MEAN Stack and Bootstrap to showcase an EStore</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">View Project</a></p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  
  
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
  
        <div class="container marketing">
  
          <!-- Three columns of text below the carousel -->
          <div id="aboutme" class="row ">
            <div class="col-lg-12 ">
              <img class="rounded-circle " src="../../assets/img/AboutMe.JPG" alt="" width="240" height="240">
              <h2 >About Me</h2>
              <p>Thank you for stopping by my website. With 12+ years of experience in the corporate world broadly ranging from customer service to mitigating fraud and gathering business requirements, I have finally moved as a developer in the arena of coding. I have completed coding boot camp and work as a Teaching assistant in Skillspire. I also assist with professional and pro bono projects to strengthen my domain knowledge. If you need any assistance, or have questions feel free to contact me. I will be happy to respond within a day.</p>
              <p><a class="btn btn-secondary" href="" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <!-- <div class="col-lg-4">
              <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Heading</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <!-- <div class="col-lg-4">
              <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>/.col-lg-4 --> 
          </div><!-- /.row -->
  
  
          <!-- START THE FEATURETTES -->
          
          <hr class="featurette-divider">
          
          
          <div id="projects" >
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Student-Portal</h2>
              <p class="lead">Student-Portal is a project focused on creating a centrallized place for students of SkillSpire to read through course material, submit assignments.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" data-src="../../assets/img/studentportal.jpeg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Restaurant></h2>
              <p class="lead">A fun project using Bootstrap to create a website for a restaurant</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" data-src="../../assets/img/restaurant.jpeg" alt="Generic placeholder image">
            </div>
          </div>
          
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">E <span class="text-muted">- Store</span></h2>
              <p class="lead">This application is for an imaginary client to set up their E-store. Application was developed using Angular, Express, Javascript and Mongo DB</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" data-src="../../assets/img/e-store.jpeg" alt="Generic placeholder image">
            </div>
          </div>
        </div>
  
          <hr class="featurette-divider">
          <div class="cardcontainer ">
              <div class="row">
                <div class="col-4-lg ml-3">
                  <div  id = "cardm" class="card ">
                      <i class="fab fa-html5 fa-6x text-center " style=color:#e86228></i>
                    <div class="card-body">
                      <h5 class="card-title">HTML</h5>
                      <p class="card-text">Utilized skill 1 in performing....</p>
                      <a href="#" class="btn btn-primary">More...</a>
                    </div>
                    <img class="card-img-bottom" src="">
                  </div>
                  
                </div>
                <div class="col-4-lg ml-3">
                    <div class="card" >
                        <i class="fab fa-css3-alt fa-6x text-center" style=color:#159cd5;></i>
                      <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                        <p class="card-text">Utilized skill 1 in performing....</p>
                        <a href="#" class="btn btn-primary">More...</a>
                      </div>
                      <img class="card-img-bottom" src="">
                    </div>
                    
                  </div>
                  
                  <div class="col-4-lg ml-3">
                      <div class="card" >
                          <i class="fab fa-node-js  fa-6x text-center text-success"></i>
                       
                        <div class="card-body">
                          <h5 class="card-title">Node JS</h5>
                          <p class="card-text">Utilized skill 1 in performing....</p>
                          <a href="#" class="btn btn-primary">More...</a>
                        </div>
                        <img class="card-img-bottom" src="">
                      </div>
                      
                    </div>
                    <div class="col-4-lg ml-3">
                      <div class="card" >
                          <i class="fab fa-node-js  fa-6x text-center text-success"></i>
                       
                        <div class="card-body">
                          <h5 class="card-title">Node JS</h5>
                          <p class="card-text">Utilized skill 1 in performing....</p>
                          <a href="#" class="btn btn-primary">More...</a>
                        </div>
                        <img class="card-img-bottom" src="">
                      </div>
                      
                    </div>
                    <div class="col-4-lg ml-3">
                      <div class="card" >
                          <i class="fab fa-node-js  fa-6x text-center text-success"></i>
                       
                        <div class="card-body">
                          <h5 class="card-title">Node JS</h5>
                          <p class="card-text">Utilized skill 1 in performing....</p>
                          <a href="#" class="btn btn-primary">More...</a>
                        </div>
                        <img class="card-img-bottom" src="">
                      </div>
                      
                    </div>
                    <div class="col-4-lg ml-3">
                      <div class="card" >
                          <i class="fab fa-node-js  fa-6x text-center text-success"></i>
                       
                        <div class="card-body">
                          <h5 class="card-title">Node JS</h5>
                          <p class="card-text">Utilized skill 1 in performing....</p>
                          <a href="#" class="btn btn-primary">More...</a>
                        </div>
                        <img class="card-img-bottom" src="">
                      </div>
                      
                    </div>
              </div>
              
            </div>
  
          <!-- /END THE FEATURETTES -->
         
  
        </div><!-- /.container -->
  
        <hr class="featurette-divider">
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </main>
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
   
</body>
</html>
